*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}
nav{
    box-shadow: 5px 5px 5px rgba(1,1,1,0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background-color: white;
    padding: 10px;
    z-index: 50;
}
.navigation
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.container
{
    max-width: 1200px;
    margin: 0 auto;
}
.bar_icon
{
    font-size: 32px;
    cursor: pointer;
}
.hero
{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.hero_content
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tag
{
    background-color: green;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;

}
 .hero_content h1
 {
    font-size: 52px;
    font-weight: 500;
    line-height: 1.2;
    font-family:sans-serif
 }
 button
 {
    padding: 10px 15px;
    border: none;
    transition:   0.2s ease-in-out;
 }
 button:hover
 {
    opacity: 0.8;
    transition:   0.2s ease-in-out;

 }
 .explore_btn
 {
    background-color: rgb(255, 166, 0);
    align-self: flex-start;
    cursor: pointer;
 }
 .features
 {
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    
    margin-bottom: 50px;
 }
 .feature
 {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    transition:   0.2s ease-in-out;
    cursor: pointer;
   
 }
 .feature:hover
 {
    transition:   0.2s ease-in-out;
    box-shadow: 10px 10px 10px rgb(204, 199, 199);
    

 }
 .divider
 {
    border-bottom: 2px solid #ccc;
    margin: 20px 0;
 }
 .menu
 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    text-align: center;
 }
 .menu .tag{
    align-self: center;
 }
 .grid
{
    display:grid;
    gap: 5px;
    grid-template-areas: 
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
    overflow: hidden;

}
.grid-image:hover
{
    transform: scale(1.05);
    transition:   0.2s ease-in-out;
}
.item1
{
    grid-area: I1;
}
.item2
{
    grid-area: I2;
}
.item3
{
    grid-area: I3;
}
.item4
{
    grid-area: I4;
}
.item5
{
    grid-area: I5;
}
.item6
{
    grid-area: I6;
}
.item7
{
    grid-area: I7;
}

footer
{
    background-color: black;
}
.footer_container
{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.footer_logo img
{
    width: 170px;
}
.links_lists h3
{
    margin-bottom: 10px;
    color: gray;
}
.news_letter h3
{
    color: gray;
}
.links_lists ul{
    list-style: none;
    color: white;
}
.links_lists ul li{
    margin-bottom: 5px;
    font-size: 16px;


}
.news_letter input{
    padding: 5px 40px;
    margin-bottom: 10px;
}
.icon_container
{
    display: flex;
    gap: 15px;
    font-size: 25px;
    color: white;
    cursor: pointer;
}
